* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: oklch(20.8% 0.042 265.755);
    color: #fff;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
}

header a {
    color: #fff;
    background: oklch(59.6% 0.145 163.225);
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: .5rem;
    transition: background .4s;
}

header a:hover {
    background: oklch(76.5% 0.177 163.223);
}

/* ---- Área principal e cards ---- */
main {
    margin-top: 3rem;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* ---- Card de usuário ---- */
section {
    background: oklch(27.9% 0.041 260.031);
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background 0.3s;
}

section:hover {
    transform: translateY(-5px);
    background: oklch(32% 0.05 260.031);
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: oklch(90% 0.15 163.223);
}

section p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: .5rem;
}