* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: oklch(20.8% 0.042 265.755);
    color: #FFF;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

a, button {
    color: #fff;
    background: oklch(59.6% 0.145 163.225);
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}

a:hover, button:hover {
    background: oklch(76.5% 0.177 163.223);
    transition: .4s;
    cursor: pointer;
}