* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: oklch(20.8% 0.042 265.755);
    color: #fff;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

header {
    margin-top: 2rem;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

form {
    margin-top: 2rem;
    background: oklch(27.9% 0.041 260.031);
    padding: 2rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(90%, 400px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

label {
    font-weight: bold;
    font-size: 1.4rem;
}

input {
    width: 100%;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    font-size: 1.4rem;
    outline: none;
}

input:focus {
    outline: 2px solid oklch(76.5% 0.177 163.223);
    background: #f6f6f6;
    color: #000;
}

button {
    margin-top: 1rem;
    padding: 1rem;
    background: oklch(59.6% 0.145 163.225);
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    transition: background .4s;
}

button:hover {
    background: oklch(76.5% 0.177 163.223);
}